


h1,
h2 {
    font-family: 'Alex Brush', cursive;
}

a {
    color: black;
}



.link {
    background: white;
	padding: 15px;
	margin: 5px;	
    border-radius: 3px;
    
}

.image {
    background-image: url(../images/cake.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
}



.heading {
    text-align: center;

}

.top-nav {
    text-align: center;
}

.top-nav-links {
    display: flex;
    flex-wrap: wrap;
}

.entry {
    background-color: white;
    margin-left: 2em;
    margin-bottom: 2em;
    margin-right: 2em;
    padding: 1em;
}

/* Entries */

.entry-1 {
    background-color: white;
    padding: 2em;
}

.ingredients {
    padding-top: 2em;
    padding-left: 2em;
    background: white;
}

.project {
    text-align: center;
    background: white;
    margin-left: 2em;
    margin-right: 2em;
}

.commentBox {
    background: white;
    margin: 2em;
    padding: 2em;
}

.comment {
    width: 55%;
    margin-bottom: 1em;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 500px) {.

    .top-nav-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

/*    Makes ingredients bar sticky*/    
    
    .sticky {
        position: fixed;
        top: 0;
        right: 0;
    }
    
    .sticky + .content {
        padding-top: 2em;
    }
    
    .top-nav-links {
        padding: 15px;
	    border-radius: 10px; 
        
/*        flex*/
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;


        
    }    
 
    .project {
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    
    .wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .entry-1 {
        width: 55%;
    }
    
    .ingredients {
        order: 1;
        flex: 1;
        padding-right: 2em;
        padding-left: 1em;
    }
    
}

@media (min-width: 769px) {
    
    
/*    Makes navigation bar spread out*/
    
    .top-nav-links {
        padding: 15px;
	    border-radius: 10px;         
        display: flex;
        flex-wrap: wrap;        
    }    
    
    
    .home {
        margin-right: auto;
    }
    

    /* entries */
  
    

    .entry-1 {
        width: 60%;
    }
    

}

